:root{
    --white: #f9fefe;
    --text-black: #05181a;
    --link-colour: #ea7c81;
    --button-blue: #37cad8;
    --primary-blue: #37cad8;
    --secondary-red: #ea9b93;
    --grey-text: #494949;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: merienda, shizuru, serif;
}

a:visited, a:link{
    text-decoration: none;
    color:var(--link-colour);

}

.required::before{
    content: '*'
}

body{
    display: flex;
    align-content: center;
    background-color: lightgrey;
    line-height: 1.5rem;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.left{
    position:relative;
    height:100vh
}

#bg-img{
    width: auto;
    height: 100vh;
    object-fit: cover;
}

.logo{
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(10, 10, 10, 0.5);
}

.logo > img{
    width: 70px;
}

.logo > p {
    margin-left: 30px;
    color: var(--white);
    font-weight: 700;
    font-size: 48px;
}

.credits {
    position: absolute;
    height: 32px;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: var(--white);
    background-color: rgba(10, 10, 10, 0.5);
}


.intro, .submit{
    margin-left: 20px;
}
.intro, legend{
    font-weight: bold;
}
form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:100vw;
    gap: 20px;
    border: none;
}

fieldset {
    padding: 40px 20px 20px 20px;
    position: relative;
    background-color: var(--white);
    box-shadow: 5px 5px 5px #b9b8b8;
    border:none;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
    row-gap: 1rem;
}

legend{
    top: 3%;
    position: absolute;
    left: 20px;
}

label {
    font-weight: bold;
    color: var(--grey-text);
}

fieldset > .row{
    display: flex;
    justify-content: flex-start;
    column-gap: 5rem;
    width: 100%;
}

input:invalid{
    border: 1px var(--secondary-red) solid;
}
input:focus {
    border: 1px var(--primary-blue) solid;
    box-shadow: 3px 4px #dddddd;
}

.form-footer {
    margin-left:20px;
}

button{
    background-color: var(--secondary-red);
    color: var(--white);
    font-weight: bold;
    padding: 10px 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px var(--grey-text);
    box-shadow: 1px 1px 1px var(--grey-text);
}

